/* Reset & Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Main Wrapper */
#main {
    width: 90%;
    height: 100vh;
}

/* Header */
header {
    width: 100%;
    background-color: #047AFF;
    padding: 0 30px; /* Left & right padding */
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between; /* Logo on left, menu on right */
    align-items: center;
    height: 75px;
    background-color: #047AFF;
    padding: 0 30px; /* Consistent spacing */
}

/* Logo */
.logo {
    font-size: 20px;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Navigation Menu */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Menu Items */
nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: 0.3s ease-in-out;
}

nav ul li:hover {
    background-color: #8D6E63;
}

/* Active Menu */
ul li.active a {
    background: #047AFF;
}

